body{
	min-height: 1000px;
}
/*scroll*/
body::-webkit-scrollbar{
	width: 10px;	
	height: 10px;
}
body::-webkit-scrollbar-track{
	background-color: rgba(0, 0, 0, .1);
	border-radius: 5px;
}
body::-webkit-scrollbar-thumb{
	background-color: rgba(0, 0, 0, .3);
	border-radius: 5px;
}